<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
<meta name="author" content="Alan Snelson" />
<meta name="copyright" content="&copy; 2000-2011 Wave2 Limited. All rights reserved." />
<meta name="description" content="AuthStor A Wave2 Production" />
<meta name="keywords" content="Wave2,Open Source,FreeBSD,Perl,AuthStor,Wave2 Informeer,MySQL Dump Java" />
<title>AuthStor &rsaquo; [% title %]</title>
<link rel="stylesheet" href="/screen.css" type="text/css" />
</head>
