<!-- Button -->
<link rel="stylesheet" type="text/css" href="[% base %]static/yui/2.7.0/build/button/assets/skins/sam/button.css">
<!-- Source file -->
<script type="text/javascript" src="[% base %]static/yui/2.7.0/build/button/button-min.js"></script>
